/*
  - kr_common.css - (CSS)
  ver.2026/01/08

  汎用的に使えるデザインやレイアウトの設定
*/
@charset "utf-8";

/* 
  [レイアウト]
  複数の画像などを並べる。PCでは横並び、スマホでは縦並びにする。
*/
.kr-layout_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 10px; /* 外側の余白 */
  gap: 15px;     /* 画像間の余白 */
  box-sizing: border-box;
}
.kr-layout_grid p {
  flex: 1 1 45%;  /* widthの代わり */
  max-width: 50%;
  text-align: center;
  margin: 0;
}
.kr-layout_grid p img {
  max-width: 100%;
  height: auto;
}

/* スマホ用 */
@media screen and (max-width: 768px) {
  .kr-layout_grid {
    flex-direction: column;
    gap: 15px;
  }
  .kr-layout_grid p {
    max-width: 100%;
  }
}

/* 
  [レイアウト]
  画像と説明テキストを並べる。
*/
.kr-layout_img-and-desc {
  display: flex;
  align-items: center;
  gap: 16px;
  line-height: 1.6; 
}
/* 画像のはみ出し防止 */
.kr-layout_img-and-desc img {
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}

/* スマホ用 */
@media screen and (max-width: 768px) {
  .kr-layout_img-and-desc {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* 
  [デザイン]
  コードブロック。
*/
pre {
  background: #081318;
  padding: 16px;
  border-radius: 10px;
  overflow-x: auto;
}
code {
  color: #7bf2ff;
}